# Ejemplo de variables de entorno
POSTGRES_HOST=13.222.89.227
POSTGRES_PORT=5432
POSTGRES_USER=chmma
POSTGRES_PASSWORD=HSQCx3Ajt4p^aJGC
POSTGRES_DB=voltiodb
RABBITMQ_URI=amqp://admin:trike@52.73.74.139:5672/
